
@commonIndex{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    @playscalajs.html.scripts("client")
} {
    <div ng-app="searchbrew" ng-controller="SearchCtrl" class="container">
        <div class="jumbotron">
            <h1>Search Brew</h1>
            <p class="lead">The missing search for <a href="http://brew.sh">Homebrew</a></p>
            <form ng-submit="search()">
                <input type="text" class="input-xlarge search-query" ng-model="searchQuery" autofocus placeholder="find packages"/>
                <button type="button" ng-click="getAll()" class="btn-link">All</button>
            </form>
        </div>

        <div>
            <table class="table table-hover">
                <tr ng-show="showAll">
                    <th></th>
                    <th><button class="btn btn-link"
                    ng-click="predicate='title';reverse=!reverse">Name</button>
                    </th>
                    <th><button class="btn btn-link"
                    ng-click="predicate='description';reverse=!reverse">Description</button>
                    </th>
                    <th><button class="btn btn-link"
                    ng-click="predicate='homepage';reverse=!reverse">Homepage</button>
                    </th>
                </tr>
                <tr ng-repeat="doc in searchResults |orderBy:predicate:reverse">
                    <td ng-if="showAll">{{$index}}</td>
                    <td><a ng-href="{{doc.homepage}}">{{doc.title}}</a></td>
                    <td>{{doc.description}}</td>
                    <td ng-if="showAll">{{doc.homepage}}</td>
                </tr>
            </table>
            <div ng-show="searchResults.length==0 && searchQuery.length > 0 && !loading"><p>No Results</p></div>
            <div ng-show="loading"><p>loading</p></div>
        </div>

        <div ng-hide="searchQuery" class="info">
            <p>When you search homebrew with <code>brew search</code> it only filters the name of the package. This website searches the description as well. Much thanks to <a href="https://github.com/telemachus/homebrew-desc">@@telemachus/homebrew-desc</a> for the descriptions.</p>
        </div>

    </div>
}